@using YogaCenter.Core.Models
@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Learn new things";
}

<head>
    <style>
        body {
            background-image: url(https://img.freepik.com/free-vector/mandala-patterns-blue-background_1308-69901.jpg?w=2000);
            color: black;
        }
        #titleDiv {
            position:center;
            width:1250px;
            padding:40px;
            top: 200px;
        }
        #textDiv {
            
            position:center;
            width:1230px;
            padding:40px;
            top: 300px;
        }
    </style>
</head>
<body>
<div class="text-center row" id="titleDiv">
    <h1 class="text-center">@ViewBag.Title</h1>

    <div class="text-center row" id="textDiv">
        @foreach (var post in Model)
        {
            <div class="content" style="width: 20rem;">
                <div class="card-body">

                    <h4 style="color: blue" class="card-title mt-1">@post.Title</h4>
                    <p class="mb-0">Summary: @post.Summary</p>
                    <p class="mb-0">Created by: @post.CreatedBy</p>
                </div>
                
                <form asp-area="" asp-controller="Post" asp-action="PostDetails" method="get" asp-route-classId="@post.Id">
                    <input type="hidden" value="@post.Id" name="postId" />
                    <button type="submit" class="btn btn-outline-success">Read more</button>
                </form>
            </div>
        }
    </div>

</div>
</body>
