@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YogaCenter.Core.Models;
@using YogaCenter.Extensions
@model IEnumerable<CommentViewModel>


@{
    
    ViewBag.Title = $"Comments for class {ViewBag.YogaClassName}";
    int value = Model.Count();
}


<head>
    <style>
        body {
            background-image: url(https://img.freepik.com/free-vector/mandala-patterns-blue-background_1308-69901.jpg?w=2000);
            color: black;
        }
        #titleDiv {
            position: center;
            width: 1250px;
            padding: 40px;
            top: 200px;
        }

        #textDiv {
            position: center;
            width: 1230px;
            padding: 40px;
            top: 300px;
        }
    </style>
</head>
<body>
    <div class="text-center row" id="titleDiv">
        <h2 class="text-center">@ViewBag.Title</h2>
        @if (value == 0)
        {
            if (!User.Identity.IsAuthenticated)
            {
                <h4 class="text-center">There is no comments yet. </h4>
            }
            else
            {
                <h4 class="text-center">There is no comments yet. Be the first.</h4>

                <td>
                    <form asp-area="" asp-controller="Comment" asp-action="AddComment" method="get" asp-route-classId="@TempData.Peek("classId")">
                        <input type="hidden" value="@TempData.Peek("classId")" name="classId" />
                        <button type="submit" class="btn btn-outline-success">Add Comment</button>
                    </form>
                </td>
            }
        }
        else
        {
            <div class="card-header">
            </div>
            <div class="card-body" id="textDiv">

                <table style="width: 100%" class="table table-hover">
                    <thead>
                    <tr style="color: black">
                        <td>Description</td>
                        <td>Name</td>
                        

                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="color: black">
                            <td>@item.Description</td>
                            <td>@item.FullName</td>

                        </tr>
                        
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr style="color: black">
                            <form asp-area="" asp-controller="Comment" asp-action="AddComment" method="get" asp-route-classId="@TempData.Peek("classId")">
                                <input type="hidden" value="@TempData.Peek("classId")" name="classId" />
                                <button type="submit" class="btn btn-outline-success">Add Comment</button>
                            </form>
                        </tr>
                    }
                    
                    </tbody>
                </table>
            </div> 
        }
        
    </div>
</body>


